.cart > h1 {
  margin-left: 20px;
  margin-top: 10px;
  font-weight: 400;
}

.cart__container {
  margin: 20px;
  display: flex;
  border: 0.5px solid #eee;
  padding: 10px;
}

.cart__image {
  padding: 10px;
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.cart__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin-left: 20px;
}

.cart__header > h5 {
  margin-bottom: 10px;
}

.cart__body > p {
  font-size: 15px;
  font-weight: 300;
}

.cart__footer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.cart__footer > a {
  margin-left: 30px;
  color: #007185;
}

.cart__select {
  padding: 5px;
  background-color: #f0f2f2;
  border-color: #eee;
  border-radius: 10px;
  width: 50px;
}

.cart__total {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.cart__checkoutbtn {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  background-color: #ffa41c;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid;
  /* border-radius: 5px; */
  cursor: pointer;
}
